@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");

:root {
  --primary: #6379f4;
  --dark: #3a3d42;
  --dark03: #3a3d424d;
  --dark01: #3a3d421a;
  --background: #fafcff;
  --shade: #473ad11a;
  --gray: #7a7886;
  --green: #1ec15f;
  --red: #ff5b37;
  --shadow: 0 4px 20px #0000000d;
  --font-family: "Nunito Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-family) !important;
  color: var(--dark) !important;
}

h1 {
  font-size: calc(1.5rem + 2vw) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
