.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header select {
  height: 2.25rem;
  padding: 0 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: var(--dark01);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.see-all {
  text-decoration: none;
}

.transaction-list {
  display: flex;
  flex-direction: column;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 0.75rem;
  overflow: hidden;
}

.transaction-item:hover {
  background-color: #0000000d;
  cursor: pointer;
}

.transaction-item .left {
  display: flex;
  grid-gap: 1rem;
  flex-grow: 1;
}

.transaction-item .left .img {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.transaction-amount {
  font-weight: 700;
}

.transaction-amount.green {
  color: var(--green);
}

.transaction-amount.red {
  color: var(--red);
}

.name-type {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
}

.type {
  color: var(--dark03);
}

.pagination-buttons {
  margin-top: auto;
  align-self: end;
  display: flex;
  grid-gap: 1rem;
}

.pagination-buttons button {
  font-weight: 700;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  background-color: var(--primary);
  color: white;
  line-height: 1rem;
}

.pagination-buttons button:hover {
  opacity: 0.7;
}

.pagination-buttons button:disabled {
  background-color: var(--dark03);
  opacity: 1;
}
