.main {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  padding-top: calc(4vmax + 3rem);
  background-color: rgb(245, 245, 245);
}

.main p {
  margin: 0;
}

.main-container {
  position: relative;
  padding: 2vmax 10vw;
  min-height: calc(100vh - 4vmax - 3rem);
  display: grid;
  grid-template-columns: 1fr;
}

.left {
  display: none;
}

.side-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-item-container {
  padding: 0 calc(1rem + 5px) 0 1rem;
  cursor: pointer;
  border-left: 5px solid transparent;
}

.nav-item-container.active {
  font-weight: 700;
  color: var(--primary);
  border-left: 5px solid var(--primary);
}

.nav-item {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-item-container:hover {
  background-color: #0000001a;
}

.nav-icon {
  font-size: 1.5rem;
}

.right.not-dashboard {
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  background-color: white;
  padding: 2rem;
}

.child {
  height: 100%;
  width: 100%;
}

/* overlay */
.openNav {
  position: absolute;
  top: 2vmax;
  left: 0;
  border-radius: 0 0.75rem 0.75rem 0;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  box-shadow: var(--shadow);
}

.openNav:hover {
  background-color: #0000001a;
}

.openNav i {
  padding: 0.5rem;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}

#myNav.w100 {
  width: 100%;
}

#myNav.w0 {
  width: 0%;
}

input.input-amount {
  width: 100%;
  height: 3rem;
  text-align: center;
  border-radius: 0.75rem;
}

@media (min-width: 576px) {
  .main-container {
    /* height: calc(100vh - 8vmax - 6rem); */
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }

  .left {
    display: initial;
    height: 100%;
    padding: 2rem 0;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: var(--shadow);
  }

  .nav-label {
    display: none;
  }

  .openNav {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-label {
    display: initial;
  }
}

@media (min-width: 992px) {
}
