.navbar {
  padding: 2vmax 10vw;
  height: calc(4vmax + 3rem);
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar a:hover {
  opacity: 0.7;
}

.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.main p {
  margin: 0;
}

.left {
  display: none;
  color: white;
}

.left h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.img-container {
  width: calc(100% - 7vmax);
  height: 65%;
  position: relative;
}

.img1,
.img2 {
  object-fit: contain;
  height: 100%;
  aspect-ratio: 1062/2020;
  position: absolute;
}

.img1 {
  content: url("/images/phone1.png");
  left: 10%;
  transform: rotate(-7.5deg);
}

.img2 {
  content: url("/images/phone2.png");
  right: 10%;
  transform: rotate(7.5deg);
}

.right {
  height: 100vh;
  padding: calc(4vmax + 3rem) 10vw 3vmax;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-position: right;
}

.child {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  padding: 5%;
  overflow: hidden;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    padding: calc(4vmax + 3rem) 3vmax 3vmax 10vw;
    display: initial;
    background-image: url("/images/banner.jpg");
    background-size: cover;
    background-position: right;
  }

  .right {
    padding: calc(4vmax + 3rem) 10vw 3vmax 3vmax;
    background-color: var(--background);
    background-image: none;
  }

  .child {
    background-color: initial;
    padding: 0;
    border-radius: 0;
  }
}

@media (min-width: 992px) {
}
