.navbar {
  padding: 2vmax 10vw;
  height: calc(4vmax + 3rem);
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  box-shadow: var(--shadow);
}

.navbar.w100 {
  width: 100vw;
  background-color: white;
  border-radius: 0 0 1.25rem 1.25rem;
  box-shadow: var(--shadow);
}

.navbar.auth {
  background-color: transparent;
}

.navbar a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar.landing {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.navbar.landing a {
  color: white;
}

.navbar.auth a {
  color: white;
}

.navbar a:hover {
  opacity: 0.7;
}

.nav-right {
  display: flex;
  grid-gap: 1.5rem;
}

.login,
.register {
  height: 3rem;
  aspect-ratio: 2/1;
  border-radius: 0.75rem;
  font-weight: 700;
}

.login,
.register:hover {
  background-color: var(--primary);
  color: white;
  border: 2px solid white;
}

.register,
.login:hover {
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.nav-right .img {
  width: 3rem;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.profile {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.profile:hover {
  background-color: #0000000d;
}

.name {
  font-weight: 700;
}

.phone {
  font-size: 0.75rem;
}

.notification-wrapper {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.notification {
  content: url("/icons/notification.png");
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.notification-wrapper:hover {
  background-color: #0000000d;
}

.navbar.landing .notification {
  filter: brightness(0) invert(1);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
